<h4>Angular Demo using Library</h4>

<p>+ Native Flex Layout</p>
<div class="flex-parent">
	<lib-up-input class="flex-child" iid="input3-1" placeholder="name" disabled="true" label="label-a"></lib-up-input>
	<lib-up-input class="flex-child" iid="input3-2" placeholder="description" title="this is a tooltip" label="label-b"></lib-up-input>
	<lib-up-input class="flex-child" iid="input3-3" placeholder="" 	iclass="app-input" label="label-c"></lib-up-input>
	<lib-up-input class="flex-child" iid="input3-4" placeholder="name" disabled="true" label="label-d"></lib-up-input>

	<lib-up-input class="flex-child" iid="input3-5" placeholder="description" title="this is a tooltip" label="label-e"></lib-up-input>
	<lib-up-input class="flex-child" iid="input3-6" placeholder="" label="label-f"></lib-up-input>
	<lib-up-input class="flex-child" iid="input3-7" placeholder="" label="label-g"></lib-up-input>
</div>
